
<%- include('head', { title: 'Metabase Interactive Embedding Sample' }) -%>

<h1>Login</h1>
<%- message %>
Try accessing <a href="/protected">/protected</a>, then authenticate with "rene@example.com" or "cecilia@example.com" and password "foobar".
<form method="post" action="/login">
  <p>
    <label for="email">Email:</label>
    <input type="text" name="email" id="email">
  </p>
  <p>
    <label for="password">Password:</label>
    <input type="text" name="password" id="password">
  </p>
  <p>
    <input type="submit" value="Login">
  </p>
</form>

<%- include('foot') -%>